.table {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14% ;
    width: 100%;
    margin: auto;
    font-size: 1em;
    font-family: 'Calibri', Courier, monospace;
}

.table.col-7{
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.table.col-8{
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.table > div {
  margin: 0px;
  background: #cccccc;
  padding: 5px;
  border: 1px solid white;
  word-break: break-word;
  text-overflow: ellipsis;
}

.table .header{
    font-weight: bold;
    background: #7a7a7a;
    color: white;
}